html {
  height:100%;
  width: 100%;
}

body {
  margin:0;
  background-color: #121212;
}

p {
	color:  antiquewhite;
}
.bg {
 	animation:slide 3s ease-in-out infinite alternate;
 	background-image: linear-gradient(-15deg, #B0E2FF 50%, #CBC3E3 50%);
 	bottom:0;
    left:-50%;
    opacity:.75;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
.bg2 {
    animation-direction:alternate;
    animation-duration:3s;
}
.bg3 {
    animation-duration:6s;
}
@keyframes slide {
    0% {
    	transform:translateX(-25%);
    }
    100% {
    	transform:translateX(25%);
    }
}
.sidenav {
	width: 100px;
	position: fixed;
	z-index: 1;
	top: 20px;
	padding: 6px 8px 6px 16px;
	overflow-x: hidden;
	vertical-align: middle;
	align-items: flex-end;
	justify-content: safe center;

}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
}
.Introduction {
	position: relative;
    margin: 0 auto;
    text-align: center;
    width: 400px;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	text-shadow: 2px 2px 4px rgba(179, 147, 211, 0.1),
               3px 4px 4px rgba(179, 147, 211, 0.15),
               4px 6px 4px rgba(179, 147, 211, 0.2),
               5px 8px 4px rgab(179, 147, 211, 0.25);
}
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}